# -----------------------------
# Application
# -----------------------------
ENV=development

# -----------------------------
# Server
# -----------------------------
HOST=0.0.0.0
PORT=8000

# -----------------------------
# API
# -----------------------------
API_PREFIX=/api/v1

# -----------------------------
# Base URL (used for scripts/tests)
# -----------------------------
BASE_URL=http://localhost:8000

# -----------------------------
# Database (SQLite)
# -----------------------------
DATABASE_URL=sqlite+aiosqlite:///./payments.db